{% extends 'movieCrud/layout.html' %}

{% block title %}{{ object.name }}{% endblock title %}

{% block content %}
  <h1>{{ headingLine }}</h1>
  <hr>
  <h3>Viewing movie{{ paginator.count|pluralize }} {{ pageObj.start_index }}-{{ pageObj.end_index }} of {{ paginator.count }}:</h3>

  <div class="my-4 list-group">
{% for movie in pageObj.object_list %}
    <a class="list-group-item list-group-item-action" href="{% url 'movieDetail' movie.id %}">{{ movie.title }} ({{ movie.year }}) {{ movie.getStars }}</a>
{% endfor %}
  </div>

  <nav>
    <ul class="pagination justify-content-end">
{% if pageObj.has_previous %}
      <li class="page-item"><a class="page-link" href="?page=1">First</a></li>
      <li class="page-item"><a class="page-link" href="?page={{ pageObj.previous_page_number }}">Previous</a></li>
{% else %}
      <li class="page-item disabled"><a class="page-link" tabindex="-1" href="?page=1">First</a></li>
      <li class="page-item disabled"><a class="page-link" tabindex="-1" href="?page=1">Previous</a></li>
{% endif %}

      <li class="page-item active"><a class="page-link" href="">{{ pageObj.number }}</a></li>

{% if pageObj.has_next %}
      <li class="page-item"><a class="page-link" href="?page={{ pageObj.next_page_number }}">Next</a></li>
      <li class="page-item"><a class="page-link" href="?page={{ paginator.num_pages }}">Last</a></li>
{% else %}
      <li class="page-item disabled"><a class="page-link" tabindex="-1" href="?page={{ pageObj.num_pages }}">Next</a></li>
      <li class="page-item disabled"><a class="page-link" tabindex="-1" href="?page={{ paginator.num_pages }}">Last</a></li>
{% endif %}
    </ul>
  </nav>
{% endblock content %}
